body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  margin-bottom: 100px;
}

ul{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
}


.main-list{
  display: flex;
}

li{
  margin-right: 20px;
}

.main-btns{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-output{
  font-size: 30px;
  font-weight: 600;
}

.main-btns:hover{
  opacity: 0.7;
}

.start{
  background-color: green;
}

.stop{
  background-color: red;
}

.reset{
  background-color: #444;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginate-btn{
  background-color: #777;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.cards{
  margin-bottom: 5px;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
}

.submit-btn{
  background-color: rgb(51, 161, 51);
  color: #fff;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.timer-info{
  background-color: rgb(163, 27, 27);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}